.results-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $black;
    margin-bottom: 1rem;

    th,
    td {
        text-align: start;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    tr {
        height: 50px;
        border: 1px solid $black;
    }
}

.results-table__state {
    width: 75px;
}

.result {
    height: 50px;
}

.page-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;

    span {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .selected {
        color: blue;
        font-size: 1.5em;
    }

    .arrow {
        font-size: 2em;
    }

    .rpp-adjust {
        margin-right: auto;
        display: flex;
        align-items: center;
        font-size: 0.75em;

        label {
            margin-right: 0.5em;
        }
    }
}
